/* Para evitar margenes y espacios */
* { margin: 0; padding: 0; }
  
#cabeza {
    height: 200px;
}
 
#menu-contenedor {
    height: 50px;
}
 
ul#menu {
    padding: 0;
    height: 50px;
}
 
ul#menu li {
    display: inline-block;
}
 
ul#menu li a {
    padding: 0 10px;
    display: block;
    line-height: 50px;
}
 
#contenido {
    height: 700px;
}
 
.menu-fijo {
    position: fixed;
    top: 0;
    width: 900px;
}

/* Responsive Desing */
/* media queries para hero-unit h1 */
@media all and (max-width: 480px){
    .hero-unit h1{
        font-size: 40px;
    }

    .respon{
        width: 150px;
    }

    #centrar{
        font-size: 20px;
    }

    #centrar img{
        max-width: 25px;
        max-height: 25px;
    }

    #form{
        margin-left: 5%;
    }
}

@media all and (max-width: 1024px){
    .respon{
        width: 140px;
    }
}
