/* Para evitar margenes y espacios */
* { margin: 0; padding: 0; }
  
#cabeza {
    height: 200px;
}
 
#menu-contenedor {
    height: 50px;
}
 
ul#menu {
    padding: 0;
    height: 50px;
}
 
ul#menu li {
    display: inline-block;
}
 
ul#menu li a {
    padding: 0 10px;
    display: block;
    line-height: 50px;
}
 
#contenido {
    height: 700px;
}
 
.menu-fijo {
    position: fixed;
    top: 0;
    width: 900px;
}